{% extends "master.html" %}
{% load static %}
{% block title %}Página de Enlaces{% endblock %}

{% block miContenido %}


<header class="hero py-5" style=" background-size: cover; background-position: center;">
        <div class="container py-7 py-lg-5 position-relative">
            <div class="row align-items-center g-5">
                <div class="col-lg-7">
                    <img src="{% static 'imgs/news.jpg' %}" class="img-fluid">
                </div>
                <div class="col-lg-5">
                    <h1 class="mt-3">Enlaces de interés</h1>
                    </h1>
                    <p class="lead mt-3">
                        Videos recomendados, ubicaciones de interés y comunidades donde seguimos la conversación.
                    </p>
                </div>
            </div>
        </div>
    </header>

    <!-- Enlaces  de interés -->
    <header class="hero py-5" style=" background-size: cover; background-position: center;">
        <div class="container py-7 py-lg-5 position-relative">
            <div class="row align-items-center g-5">
                <div class="col-lg-7">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/YPRxtdTw7RQ?si=yUyoanO5qVGbFXwE"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
                <div class="col-lg-5">
                    <h5 class="mt-2">Video recomendado</h5>
                    <h3 class="mt-3">Por qué lo elegimos</h3>
                    <p class="lead mt-3">
                        Es un video que puede interesar a muchos, especialmentes a los interesados en el mundo de los
                        juegos cooperativos.
                    </p>
                </div>
            </div>
        </div>
    </header>

    <header class="hero py-5" style=" background-size: cover; background-position: center;">
        <div class="container py-7 py-lg-5 position-relative">
            <div class="row align-items-center g-5">
                <div class="col-lg-7">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/NaYX_7g-wnc?si=4YX8Zz04V2gP7FLU"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
                <div class="col-lg-5">
                    <h5 class="mt-2">Video recomendado</h5>
                    <h3 class="mt-3">Por qué lo elegimos</h3>
                    <p class="lead mt-3">
                        Es un video muy interesante sobre el trato de la industria de los videojuegos con respecto a su
                        público femenino, todo esto relatado con un toque humorístico y una muy buena actuación de voz.
                    </p>
                </div>
            </div>
        </div>
    </header>


    <header class="hero py-5" style=" background-size: cover; background-position: center;">
        <div class="container py-7 py-lg-5 position-relative">
            <div class="row align-items-center g-5">
                <div class="col-lg-7">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3783.952448644418!2d-69.95090892503808!3d18.485812982600944!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8eaf89f362e578d3%3A0x19d59fe09af95898!2sUniversidad%20Nacional%20Pedro%20Henr%C3%ADquez%20Ure%C3%B1a%20(UNPHU)!5e0!3m2!1ses-419!2sdo!4v1783218381006!5m2!1ses-419!2sdo"
                        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="strict-origin-when-cross-origin"></iframe>
                </div>
                <div class="col-lg-5">
                    <h5 class="mt-2">Encuéntranos</h5>
                    <h3 class="mt-3">Punto de encuentro</h3>
                    <p class="lead mt-3">
                        Lugar donde se encuentra la central de PixelShare, donde se realizan reuniones y eventos para
                        los amantes de los videojuegos.
                    </p>
                </div>
            </div>
        </div>
    </header>


{% endblock %}